<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>Listagem de Pacientes</ion-col>
          <ion-col>
            <ion-button (click)="logout()"> Logout </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let patient of patients">
      <ion-col>
        <ion-item> {{ patient.name }}</ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
